%h1 Upload a Build

%form{ action: "/builds", method: "post", enctype: "multipart/form-data" }
  %label{ for: "title" } Title:
  %input{ id: "title", name: "build[title]", type: "text", value: @build.title }
  %br

  %label{ for: "file" } Upload IPA:
  %input{ id: "file", name: "build[file]", type: "file" }
  %br

  %label{ for: "description" } Description
  %input{ id: "description", name: "build[description]", type: "text", value: @build.description }
  %br

  %button{ type: "submit" } Create
