= render 'shared/header', title: @build.title

.show-build
  = image_tag "#{@build.type}-icon.png"
  .description
    =@build.description
  .button
    = link_to 'Install', @build.build_url(request.base_url)  
